<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<form method="POST" action="/post_user">
		<label>Username:</label>
		<input id="username" type="text" name="username"/>
		<label>Email:</label>
		<input id="email" type="text" name="email"/>
		<input type="submit" value="Send" />

	</form>
	
	<form method="POST" action="/myprofile">
		
		<label>Who's info do you want?</label>
		<input type="text" id="querry" name='querry' />
		<input type="submit" value="Send Query" />

	</form>
</body>
</html>